/* .header {
  border: solid 3px;
  padding: 10px 10px;
  max-width: 250px;
  margin: 50px 0px 50px 0px;
  margin-left: 40%;
  border-style: outset;
}
h1 {
  text-align: center;
}

p {
  text-align: center;
} */
